body {
    margin: 0;
    padding: 0;
}

#mainheader {
    display: grid;
    grid-template-columns: 50% 1fr;
    height: 75px;
}
/* #mainheader {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 75px;
    grid-template-areas: 
    'hd1 hd2'
    ;
    width: 100%;
    height: 10vh;
} */

#hd1 {
    /* grid-area: hd1; */
    background-color: rgb(7, 6, 28);
    height: 100%;
}

#PCLogo {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 70px;
    width: 160px;
}

#hd2 {
    /* grid-area: hd2; */
    background-color: rgb(7, 6, 28);
    height:100%;
    display: flex;
    justify-content: flex-end;
}

#secondheader {
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 1fr;
    grid-template-rows: 50px;
    grid-template-areas:
    'shd1 shd2 shd3 shd4 shd5 shd6 shd7 shd8 shd9'
    ;
    width: 100%;
}

#shd1 {
    background-color: rgb(12, 10, 46);
    grid-area: shd1;
}

#shd2 {
    background-color: rgb(12, 10, 46);
    grid-area: shd2;
}

/*-------------------------------------------------------------------------*/

#shd3 {
    background-color: rgb(12, 10, 46);
    grid-area: shd3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

#guide {
    height: 40px;
    display: flex;
    position: absolute;
    left: 290px;
    opacity: 1; /* Initially visible */
    visibility: visible; /* Initially visible */
    transition: opacity 0.3s ease; /* Smooth transition */
}

#guide-green {
    height: 40px;
    display: flex;
    position: absolute;
    left: 290px;
    padding-right: 20px;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

#shd3:hover #guide {
    opacity: 0; /* Hide gray guide */
    visibility: hidden; /* Hide gray guide */
}

#shd3:hover #guide-green {
    opacity: 1; /* Show green guide */
    visibility: visible; /* Make green guide visible */
}

#guide:hover {
    opacity: 0; /* Hide gray guide when hovered */
    visibility: hidden; /* Hide gray guide */
}

#guide-green:hover {
    opacity: 1; /* Make sure green guide stays visible on hover */
    visibility: visible; /* Green guide remains visible */
}

/*-------------------------------------------------------------------------*/

#shd4 {
    background-color: rgb(12, 10, 46);
    grid-area: shd4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

#component {
    height: 35px;
    display: flex;
    position: absolute;
    left: 425px;
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease;
}

#component-green {
    height: 35px;
    display: flex;
    position: absolute;
    left: 425px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#shd4:hover #component {
    opacity: 0;
    visibility: hidden;
}

#shd4:hover #component-green {
    opacity: 1;
    visibility: visible;
}

#component:hover {
    opacity: 0;
    visibility: hidden;
}

#component-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#shd5 {
    background-color: rgb(12, 10, 46);
    grid-area: shd5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

#trend {
    height: 35px;
    display: flex;
    position: absolute;
    left: 575px;
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease;
}

#trend-green {
    height: 35px;
    display: flex;
    position: absolute;
    left: 575px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#shd5:hover #trend {
    opacity: 0;
    visibility: hidden;
}

#shd5:hover #trend-green {
    opacity: 1;
    visibility: visible;
}

#trend:hover {
    opacity: 0;
    visibility: hidden;
}

#trend-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#shd6 {
    background-color: rgb(12, 10, 46);
    grid-area: shd6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

#benchmark {
    height: 35px;
    display: flex;
    position: absolute;
    left: 696px;
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease;
}

#benchmark-green {
    height: 35px;
    display: flex;
    position: absolute;
    left: 696px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#shd6:hover #benchmark {
    opacity: 0;
    visibility: hidden;
}

#shd6:hover #benchmark-green {
    opacity: 1;
    visibility: visible;
}

#benchmark:hover {
    opacity: 0;
    visibility: hidden;
}

#benchmark-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#shd7 {
    background-color: rgb(12, 10, 46);
    grid-area: shd7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

#builder {
    height: 35px;
    display: flex;
    position: absolute;
    left: 850px;
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease;
}

#builder-green {
    height: 35px;
    display: flex;
    position: absolute;
    left: 847px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#shd7:hover #builder {
    opacity: 0;
    visibility: hidden;
}

#shd7:hover #builder-green {
    opacity: 1;
    visibility: visible;
}

#builder:hover {
    opacity: 0;
    visibility: hidden;
}

#builder-green:hover {
    opacity: 1;
    visibility: visible;
}

#shd8 {
    background-color: rgb(12, 10, 46);
    grid-area: shd8;
}

#shd9 {
    background-color: rgb(12, 10, 46);
    grid-area: shd9;
}




/* MOBIL DELEN FÖR SECONDHEADER*/




#mobile-shd3 {
    background-color: rgb(12, 10, 46);
    padding-left: 280px;
    padding-top: 40px;
}

#mobile-guide {
    height: 40px;
    display: flex;
    position: absolute;
    top: 52px;
    left: 330px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#mobile-guide-green {
    height: 40px;
    display: flex;
    position: absolute;
    top: 52px;
    left: 330px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#mobile-shd3:hover #mobile-guide {
    opacity: 0;
    visibility: hidden;
}

#mobile-shd3:hover #mobile-guide-green {
    opacity: 1;
    visibility: visible;
}

#mobile-guide:hover {
    opacity: 0;
    visibility: hidden;
}

#mobile-guide-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#mobile-shd4 {
    background-color: rgb(12, 10, 46);
    padding-left: 230px;
    padding-top: 40px;
}

#mobile-component {
    height: 40px;
    display: flex;
    position: absolute;
    top: 152px;
    left: 335px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#mobile-component-green {
    height: 40px;
    display: flex;
    position: absolute;
    top: 152px;
    left: 335px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#mobile-shd4:hover #mobile-component {
    opacity: 0;
    visibility: hidden;
}

#mobile-shd4:hover #mobile-component-green {
    opacity: 1;
    visibility: visible;
}

#mobile-component:hover {
    opacity: 0;
    visibility: hidden;
}

#mobile-component-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#mobile-shd5 {
    background-color: rgb(12, 10, 46);
    padding-left: 270px;
    padding-top: 40px;
}

#mobile-trend {
    height: 40px;
    display: flex;
    position: absolute;
    top: 252px;
    left: 335px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#mobile-trend-green {
    height: 40px;
    display: flex;
    position: absolute;
    top: 252px;
    left: 335px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#mobile-shd5:hover #mobile-trend {
    opacity: 0;
    visibility: hidden;
}

#mobile-shd5:hover #mobile-trend-green {
    opacity: 1;
    visibility: visible;
}

#mobile-trend:hover {
    opacity: 0;
    visibility: hidden;
}

#mobile-trend-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#mobile-shd6 {
    background-color: rgb(12, 10, 46);
    padding-left: 230px;
    padding-top: 40px;
}

#mobile-benchmark {
    height: 40px;
    display: flex;
    position: absolute;
    top: 352px;
    left: 330px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#mobile-benchmark-green {
    height: 40px;
    display: flex;
    position: absolute;
    top: 352px;
    left: 330px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#mobile-shd6:hover #mobile-benchmark {
    opacity: 0;
    visibility: hidden;
}

#mobile-shd6:hover #mobile-benchmark-green {
    opacity: 1;
    visibility: visible;
}

#mobile-benchmark:hover {
    opacity: 0;
    visibility: hidden;
}

#mobile-benchmark-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#mobile-shd7 {
    background-color: rgb(12, 10, 46);
    padding-left: 270px;
    padding-top: 40px;
}

#mobile-builder {
    height: 40px;
    display: flex;
    position: absolute;
    top: 452px;
    left: 340px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#mobile-builder-green {
    height: 40px;
    display: flex;
    position: absolute;
    top: 452px;
    left: 337px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#mobile-shd7:hover #mobile-builder {
    opacity: 0;
    visibility: hidden;
}

#mobile-shd7:hover #mobile-builder-green {
    opacity: 1;
    visibility: visible;
}

#mobile-builder:hover {
    opacity: 0;
    visibility: hidden;
}

#mobile-builder-green:hover {
    opacity: 1;
    visibility: visible;
}

/*-------------------------------------------------------------------------*/

#mobile-shd3, #mobile-shd4, #mobile-shd5, #mobile-shd6, #mobile-shd7 {
    display: none;
}

/* MOBIL DELEN FÖR SECONDHEADER*/

a {
    text-decoration: none;
    color: rgb(236, 236, 236);
}

#firstsite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas:
    'sc1'
    'sc2'
    'ft'
    ;
}

#sc1 {
    grid-area: sc1;
    background-color: rgb(30, 28, 61);
    overflow:auto;
    height: 500px;
}

#benchmarks-sc1 {
    grid-area: sc1;
    background-color: rgb(30, 28, 61);
    overflow:auto;
    height: 1180px;
}


#gaming-pc {
    height: 495px;
}


#pick-parts {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 200px;
    top: 225px;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(236, 236, 236);
}

#mobile-pick-parts {
    display: none;
}

#AMD-CPU {
    height: 120px;
    position: relative;
    top: -90px;
    left: 950px;
}

#guide-sc1 {
    grid-area: sc1;
    background-color: rgb(30, 28, 61);
    height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#ahmad {
    position: relative;
    height: 400px;
    width: 280px;
    left: 200px;
}

#ahmadh3 {
    position: relative;
    left: 215px;
}

#ivo {
    position: relative;
    height: 400px;
    width: 280px;
    left: 500px;
}

#ivoh3 {
    position: relative;
    left: 800px;
    bottom: 50px;
}

#sc2 {
    grid-area: sc2;
    background-color: rgb(30, 28, 61);
    height: 500px;
}

#hidden-sc2 {
    grid-area: sc2;
    background-color: rgb(30, 28, 61);
    height: 0;
    overflow: hidden;
}

#benchmarks-sc2 {
    grid-area: sc2;
    background-color: rgb(30, 28, 61);
    overflow-x: scroll;  
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 0px;
}

.stats {
    height: 500px;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-right: 20px;
    margin-left: 20px;
}


#ft {
    grid-area: ft;
    background-color: rgb(7, 6, 28);
    color: white;
    font-family: "Nunito Sans", sans-serif;
    padding: 20px;
    line-height: 1.3;

}

p {
    font-size: 15px;
}

#thickp {
    font-weight: 900;
}

.liten {
    font-weight: 400;
}

#hd1, #hd2, #shd1, #shd2, #shd3, #shd4, #shd5, #shd6, #shd7, #shd8, #shd9, #sc1, #sc2, #ft, #mobile-shd3, #mobile-shd4, #mobile-shd5, #mobile-shd6, #mobile-shd7 {
    outline: 1px solid rgba(61, 59, 103, 0.5);
}

#shd1, #shd2, #shd3, #shd4, #shd5, #shd6, #shd7, #shd8, #shd9, #mobile-shd3, #mobile-shd4, #mobile-shd5, #mobile-shd6, #mobile-shd7 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
}

h3 , h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
}

#menuIcon {
    padding: 5px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.menu {
    height: 100vh;
    width: 80vw;
    left: -90vw;
    position: fixed;
    top: 0;
    transition: left 0.3s ease-in-out;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    background-color: white;
    z-index: 10;
    padding-top: 20px;
    display: grid;
    grid-auto-rows: 100px;
    /* grid-template-columns: 20% 30%;
    grid-template-rows: 20px;
    grid-template-areas:
    'mobile-shd3'
    'mobile-shd4'
    'mobile-shd5'
    'mobile-shd6'
    'mobile-shd7'
    ; */
}

.menu.show {
    left: 0;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}


@media (max-width: 505px) {

    #secondheader {
        display: none !important;
    }

    #menuIcon {
        display: block;
    }

    #gaming-pc {
        height: 325px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 150px;
        left: -15px;
    }
    
    
    #pick-parts {
        display: none;
    }

    #mobile-pick-parts {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 50px;
        top: 220px;
        font-size: 2.5em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(236, 236, 236);

    }

    #mobile-shd3, #mobile-shd4, #mobile-shd5, #mobile-shd6, #mobile-shd7 {
        display: block;
    }

    #shd3, #shd4, #shd5, #shd6, #shd7 {
        display: none;
    }

    #AMD-CPU {
        position: relative;
        top: 20px;
        left: 10px;
    }

    #ahmad {
        position: relative;
        height: 200px;
        width: 140px;
        left: 50px;
    }
    
    #ahmadh3 {
        position: relative;
        left: 32px;
        font-size: 0.8em;
    }
    
    #ivo {
        position: relative;
        height: 200px;
        width: 140px;
        left: 150px;
    }
    
    #ivoh3 {
        position: relative;
        left: 278px;
        bottom: 35px;
        font-size: 0.8em;
    }



}

